*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    
}
body{
    
    background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}
.heading{
    color:rgb(23, 36, 94) !important;
    text-shadow: 2px 2px  5px rgba(0, 0, 0, .3),2px 2px 5px rgba(0, 0, 0, .3);
}
button{
    border:none;
    outline:none;
    cursor:pointer;
    background-color:rgb(101, 230, 131);
    color:white;
    font-weight: 500;
    border-radius:0.5em !important;
    padding:5px;
    box-shadow: 2px 2px 5px  rgba(223, 218, 218, 0.3);
    

}
button:hover{
    color:yellow;
    text-shadow:2px 2px 6px rgb(139, 185, 59);
}
.search-container{
    display:grid;
    grid-template-columns:9fr 3fr;
    gap:1em;
    width:100%;
    max-width: 50em;
    margin:1em auto;
    padding:0.5em;
}
.wrapper{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    
}
.container1{
    background-color: rgb(36, 88, 221);
    display:flex;
    padding:1em;
    flex-direction: column;
    justify-content: space-between;
    margin:1.5em;
    border-radius:1em;
    gap:1em;
    background: linear-gradient(to right, rgb(210, 104, 104), rgb(105, 133, 227), rgb(19, 95, 122));
    box-shadow:2px 2px 8px 4px rgba(64, 57, 57, 0.3) ;
}
.container1 img{
    width:100%;
}
.container1 button{
    margin-top:1em;
    padding:1em,0;
    background-color: rgb(80, 242, 242);
    color:black;
}
.search-container input{
    border-radius: 0.5em;
    padding:1em;
    font-weight: 500;
}
.loader{
    display:none;
    width: 15em;
    height: 15em;
    border: 3em solid rgb(56, 117, 118);
    border-radius: 50%;
    border-top-color: rgb(17, 92, 184);
    position: absolute;
    transform:translate(-50%,-50%);
    top:50%;
    left:50%;
    animation:spin 3s infinite;


}
@keyframes spin{
    100%{
        transform:translate(-50%,-50%)rotate(360deg);
    }
}
@media screen  and (max-width: 768px){
    .wrapper{
      grid-template-columns: repeat(2,1fr);
    }
    .container1{
        margin:0.7em;
    }
}
@media screen and (max-width: 576px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}